body {
  margin: 5px 10px 10px;
  background-color: #777;
  color: #efefef;
}
#new-bookmark {
  width: 310px;
  padding: 10px 20px 20px;
  line-height: 2.2;
}
.value {
  width: 230px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.label {
  width: 50px;
  display: inline-block;
}
.controls {
  margin-top: 16px;
}
#existing {
  /*line-height: 1.2;*/
  margin-bottom: 16px;
}
#favicon {
  width: 30px;
}
#trim-querystring {
  cursor: default;
  padding: 6px;
}
