body {
  margin: 5px 10px 10px;
  background-color: #777;
  color: #efefef;
}
#new-bookmark {
  width: 310px;
  padding: 10px 20px 20px;
  line-height: 2.2;
}
.value {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.label {
  width: 50px;
}
.controls {
  margin-top: 16px;
}
#existing {
  margin-bottom: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 7px;
}
#prompt-existing {
  line-height: 1.5;
  margin: 12px 0;
}
#existing button {
  padding: 5px;
}
#favicon {
  width: 30px;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
#trim-querystring {
  cursor: default;
  visibility: hidden;
}
#cmd-add,
#cmd-edit {
  padding: 5px;
}
#closer {
  cursor: default;
  float: right;
  padding: 2px 6px;
  border-radius: 12px;
}
#closer:hover {
  background-color: darkslateblue;
}
#cmd-edit {
  /*visibility: hidden;*/
}
